extends layout

block content
  .container
    .row
      .col-sm
        h1= title
        p TODO: Dijkstra Pathfinder Beschreibung:
        ol
          li Geschichte
          li Funktionsweise einfach beschrieben
          li Beispielablauf illustrieren

      .col-sm
        include pathfinder-block
  script.
    var allowDiagonal = '!{query.diagonal}' == 'true'; // Passed through GET
    var gridWidth = parseInt(!isNaN(!{query.gridWidth}) ? '!{query.gridWidth}' : 24);
    var gridHeight = parseInt(!isNaN(!{query.gridHeight}) ? '!{query.gridHeight}' : 24);
    var gridType = '!{query.gridType}';
    // Start off with showing the aStarDemo
    addEventListener("DOMContentLoaded", function() {
      bma.algorithmDemo({
        algorithm: bma.pathFinding.DijkstraFinder,
        allowDiagonal: allowDiagonal,
        gridType: gridType,
        gridWidth: gridWidth,
        gridHeight: gridHeight
      });
      bma.addPresetGrids('!{query.gridType}') // Load preset grid / scenarios from src/preset-grids.js
    }, false);
